[submodule "zsh-seq"]
	path = zsh-seq
	url = https://github.com/The-Infinitys/rust.zsh-seq
[submodule "zsh-prompts"]
	path = zsh-prompts
	url = https://github.com/The-Infinitys/rust.zsh-prompts
[submodule "zsh-system"]
	path = zsh-system
	url = https://github.com/The-Infinitys/rust.zsh-system
